:root {
    --swal2-background: #19191a;
    --swal2-title-color: #e1e1e1;
    --swal2-html-container-color: #e1e1e1;
    --swal2-backdrop: rgba(25, 25, 26, 0.75);
    --swal2-footer-border-color: #555;
    --swal2-footer-color: #b0b0b0;
    --swal2-timer-progress-bar-background: rgba(225, 225, 225, 0.6);
    --swal2-input-color: #e1e1e1;
    --swal2-input-background: #2a2a2b;
    --swal2-validation-message-background: #2a2a2b;
    --swal2-validation-message-color: #e1e1e1;
    --swal2-progress-step-background: #3b3b3d;
    --swal2-button-focus-box-shadow: 0 0 0 1px #19191a, 0 0 0 3px rgba(100, 150, 200, 0.6);
    --swal2-toast-background: #19191a;
    --swal2-toast-button-focus-box-shadow: 0 0 0 1px #19191a, 0 0 0 3px rgba(100, 150, 200, 0.6);
}

:root {
    --status-text: '...'
}