:root {
    color-scheme: light dark;
}


/* Defining colors */
:root {
    --swal2-outline-color: rgba(100, 150, 200, 0.5);
    --swal2-dark-theme-black: #19191a;
    --swal2-dark-theme-white: #e1e1e1;

    /* Lightened versions of the colors */
    --swal2-outline-color-light: rgba(100, 150, 200, 0.6); /* lighten by 10% */
    --swal2-background: #19191a;
    --swal2-html-container-color: #e1e1e1;
    --swal2-title-color: #e1e1e1;
    --swal2-backdrop: rgba(25, 25, 26, 0.75);

    /* Footer */
    --swal2-footer-border-color: #555;
    --swal2-footer-color: #b0b0b0; /* darkened by 15% */

    /* Timer Progress Bar */
    --swal2-timer-progress-bar-background: rgba(225, 225, 225, 0.6); /* lightened by 10% */

    /* Input */
    --swal2-input-color: #e1e1e1;
    --swal2-input-background: #2a2a2b; /* lightened by 10% from black */

    /* Validation Message */
    --swal2-validation-message-background: #2a2a2b; /* lightened by 10% from black */
    --swal2-validation-message-color: #e1e1e1;

    /* Queue */
    --swal2-progress-step-background: #3b3b3d; /* lightened by 25% from black */

    /* Common Variables for Confirm and Cancel Buttons */
    --swal2-button-focus-box-shadow: 0 0 0 1px #19191a, 0 0 0 3px rgba(100, 150, 200, 0.6);

    /* Toast */
    --swal2-toast-background: #19191a;
    --swal2-toast-button-focus-box-shadow: 0 0 0 1px #19191a, 0 0 0 3px rgba(100, 150, 200, 0.6);
}

/* Applying the variables to SweetAlert2 elements */
.swal2-popup {
    background-color: var(--swal2-background);
    color: var(--swal2-title-color);
}

.swal2-html-container {
    color: var(--swal2-html-container-color);
}

.swal2-backdrop {
    background: var(--swal2-backdrop);
}

.swal2-footer {
    border-top: 1px solid var(--swal2-footer-border-color);
    color: var(--swal2-footer-color);
}

.swal2-timer-progress-bar {
    background: var(--swal2-timer-progress-bar-background);
}

.swal2-input {
    color: var(--swal2-input-color);
    background-color: var(--swal2-input-background);
}

.swal2-validation-message {
    background-color: var(--swal2-validation-message-background);
    color: var(--swal2-validation-message-color);
}

.swal2-progress-step {
    background-color: var(--swal2-progress-step-background);
}

.swal2-button:focus {
    box-shadow: var(--swal2-button-focus-box-shadow);
}

.swal2-toast {
    background: var(--swal2-toast-background);
}

.swal2-toast-button:focus {
    box-shadow: var(--swal2-toast-button-focus-box-shadow);
}
